body {
	font-family: "Inter", sans-serif;
}
.navbar {
	max-width: 870px;
	width: 100%;
	margin: auto;
	display: flex;
	align-items: cente;
	justify-content: space-between;
}
.nav-list {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
}
.nav-link {
	text-decoration: none;
	color: #bf7506;
	margin-left: 24px;
}
