* {
	box-sizing: border-box;
}
body {
	font-family: "Inter", sans-serif;
}
.navbar {
	display: flex;
	align-items: cente;
	justify-content: space-between;
	margin-top: 40px;
}
.nav-list {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
}
.nav-link {
	text-decoration: none;
	color: #bf7506;
	margin-left: 24px;
	font-size: 16px;
	line-height: 150%;
}
.nav-link-activ {
	font-weight: 700;
}
.container {
	max-width: 870px;
	width: 100%;
	margin: auto;
}
.header {
	display: flex;
	align-items: center;
}
.header-text {
	margin-left: 27px;
}
.header-strong {
	font-weight: 700;
	font-size: 48px;
	line-height: 125%;
	letter-spacing: -0.02em;
	margin-top: 8px;
	margin-bottom: 24px;
}
.header-heading {
	font-weight: 700;
	font-size: 24px;
	line-height: 135%;
	letter-spacing: -0.02em;
	margin-top: 8px;
	margin-bottom: 24px;
}
.header-primary {
	color: #bf7506;
}
.header-links {
	display: flex;
	align-items: center;
	margin-left: 5px;
}
.social-logo {
	margin-left: 5px;
}
.cv-download {
	margin-left: 50px;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.cv-text {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #000;
	text-decoration: none;
}
.social-list {
	list-style-type: none;
	padding: 0;
	display: flex;
	align-items: center;
	padding-left: 50px;
}
social-link {
	display: inline-block;
	padding: 8px;
	margin-left: 5px;
}
.section-heading {
	font-weight: 700;
	font-size: 48px;
	line-height: 125%;
	letter-spacing: -0.03em;
	color: #fb7506;
}
.cards {
	display: flex;
	align-items: space-between;
	gap: 72px;
}
.card {
	max-width: 400px;
}
.card-image {
	max-width: 100%;
}
.card-text-wrapper {
	padding: 16px;
}
.card-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #211b12;
}
.card-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.35;
	letter-spacing: -0.02em;
	color: #bf7506;
	margin-top: 0;
	margin-bottom: 8px;
}
.tags {
	list-style-type: none;
	padding: 0;
	display: flex;
	align-items: center;
}
.tag {
	padding: 4px 8px;
	display: inline-block;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	text-decoration: none;
	color: #211b12;
	background: #fff;
	border: 1px solid #dd9c3c;
	border-radius: 4px;
	margin-right: 4px;
	margin-top: 8px;
	margin-bottom: 4px;
}
.card-buttons {
	display: flex;
	align-items: center;
}
.card-button {
	display: flex;
	align-items: center;
	padding: 7px 8px;
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #211b12;
	border-bottom: 2px solid #bf7506;
	margin-right: 26px;
}
.card-button-icon {
	margin-right: 4px;
}

.developer {
	padding: 80px 0 20px;
	display: flex;
	align-items: center;
}
.developer-photo {
	width: 360px;
	height: 440px;
	flex-shrink: 0;
	object-fit: cover;
	border-radius: 20px;
}
.developer-about {
	margin-left: 55px;
}
.developer-hellow {
	font-weight: 400;
	font-size: 24px;
	line-height: 135%;
	letter-spacing: -0.02em;
	color: #211b12;
}
.developer-title {
	font-weight: 700;
	font-size: 32px;
	line-height: 125%;
	letter-spacing: -0.03em;
	color: #bf7506;
	margin-top: 4px;
	margin-bottom: 16px;
}
.developer-text {
	font-size: 16px;
	line-height: 150%;
	color: #211b12;
}
.motto {
	font-size: 24px;
	line-height: 150%;
	color: #dd9c3c;
	margin: 16px 0;
}
.developer-sign {
	max-width: 200px;
}
.skills {
	padding: 20px 0;
}
.skills-title {
	font-weight: 700%;
	font-size: 24px;
	line-height: 135%;
	letter-spacing: -0.02em;
	color: #211b12;
}
.feedback {
	position: relative;
	padding: 80px 0 160px;
}
.feedback-hand {
	position: absolute;
	right: 0;
	top: 20px;
	width: 25%;
}
.input-group {
	position: relative;
	padding-top: 9px;
}
.input-label {
	position: absolute;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #83807c;
	padding: 0 8px;
	background: #fff;
}
.input {
	border: 3px solid #e0dedc;
	border-radius: 4px;
	width: 100%;
	height: 56px;
}
.text-area {
	min-height: 140px;
}
.form-container {
	max-width: 435px;
	margin: auto;
}
.submit-button {
	padding: 7px 8px;
	min-width: 55px;
	display: flex;
	align-items: center;
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #211b12;
	border: none;
	border-bottom: 2px solid #bf7506;
	background-color: #fff;
	cursor: pointer;
}
.button-group {
	display: flex;
	justify-content: flex-end;
}
@media (max-width: 1024) {
	.container {
		max-width: 760px;
	}
	.card {
		max-width: 350px;
	}
}
@media (max-width: 790px) {
	.container {
		max-width: 576px;
	}
	.head-photo {
		max-width: 150px;
	}
	.head-strong {
		font-size: 36px;
	}
	.header-heading {
		font-size: 18px;
	}
	.cv-download {
		margin-left: 15px;
	}
	.card {
		max-width: 45%;
	}
	.card-text-wrapper {
		padding: 8px 0;
	}
	.developer {
		flex-direction: column;
	}
	.developer-photo {
		width: 100%;
		height: 350px;
		margin-bottom: 30px;
	}
	.feedback-hand {
		display: none;
	}
}
@media (max-width: 600px) {
	.container {
		max-width: 90%;
	}
	.header {
		padding-top: 30px;
		flex-direction: column;
		text-align: center;
	}
	.header-links,
	.cards,
	.navbar {
		flex-direction: column;
	}
	.cv-download {
		margin-left: 0;
	}
	.card {
		max-width: 100%;
	}
	.tags {
		flex-wrap: wrap;
	}
	@media (max-width: 600px) {
		.form-container {
			width: 90%;
		}
		.nav-list {
			flex-direction: column;
		}
		.nav-link {
			margin-left: 0;
			margin-bottom: 10px;
		}
	}
}
