body {
	font-family: "Inter", sans-serif;
}
.navbar {
	display: flex;
	align-items: cente;
	justify-content: space-between;
}
.nav-list {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
}
.nav-link {
	text-decoration: none;
	color: #bf7506;
	margin-left: 24px;
	font-size: 16px;
	line-height: 150%;
}
.nav-link-activ {
	font-weight: 700;
}
.container {
	max-width: 870px;
	width: 100%;
	margin: auto;
}
.header {
	display: flex;
	align-items: center;
}
.header-text {
	margin-left: 27px;
}
.header-strong {
	font-weight: 700;
	font-size: 48px;
	line-height: 125%;
	letter-spacing: -0.02em;
	margin-top: 8px;
	margin-bottom: 24px;
}
.header-heading {
	font-weight: 700;
	font-size: 24px;
	line-height: 135%;
	letter-spacing: -0.02em;
	margin-top: 8px;
	margin-bottom: 24px;
}
.header-primary {
	color: #bf7506;
}
.header-links {
	display: flex;
	align-items: center;
	margin-left: 5px;
}
.social-logo {
	margin-left: 5px;
}
.cv-download {
	margin-left: 50px;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.cv-text {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #000;
	text-decoration: none;
}
.social-list {
	list-style-type: none;
	padding: 0;
	display: flex;
	align-items: center;
	padding-left: 50px;
}
social-link {
	display: inline-block;
	padding: 8px;
	margin-left: 5px;
}
.section-heading {
	font-weight: 700;
	font-size: 48px;
	line-height: 125%;
	letter-spacing: -0.03em;
	color: #fb7506;
}
.cards {
	display: flex;
	align-items: space-between;
	gap: 72px;
}
.card {
	max-width: 400px;
}
.card-text-wrapper {
	padding: 16px;
}
.card-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #211b12;
}
.card-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.35;
	letter-spacing: -0.02em;
	color: #bf7506;
	margin-top: 0;
	margin-bottom: 8px;
}
.tags {
	list-style-type: none;
	padding: 0;
	display: flex;
	align-items: center;
}
.tag {
	padding: 4px 8px;
	display: inline-block;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	text-decoration: none;
	color: #211b12;
	background: #fff;
	border: 1px solid #dd9c3c;
	border-radius: 4px;
	margin-right: 4px;
	margin-top: 8px;
	margin-bottom: 16px;
}
.card-buttons {
	display: flex;
	align-items: center;
}
.card-button {
	display: flex;
	align-items: center;
	padding: 7px 8px;
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #211b12;
	border-bottom: 2px solid #bf7506;
	margin-right: 26px;
}
.card-button-icon {
	margin-right: 4px;
}
